<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">










    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">







    <link rel="stylesheet" type="text/css" href="/css/result-light.css">




    <script type="text/javascript" src="https://cdn.rawgit.com/jonashartmann/webcam-directive/master/dist/webcam.min.js"></script>



    <style type="text/css">

    </style>

    <title>are you trump?</title>


</head>

<body style="background-color: burlywood;">
    <div ng-app="myapp" ng-controller="mainController">
        <div class="alert alert-error ng-scope" ng-show="webcamError" style="">
            <span>Webcam could not be started. Did you give access to it?</span>
        </div>
        <nav>
            <div class="nav-wrapper navbar-inverse teal lighten-2">
                <a href="/err" class="brand-logo" style="margin-left: 2%; font-size: 3.1rem;">Incognitive</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/trump" style="font-size: large;">trump</a></li>
                    <li><a href="/err" style="font-size: large;">err</a></li>
                </ul>
            </div>
        </nav>
        <div>
            <webcam .col-md-4 channel="channel"
                    on-streaming="onSuccess()"
                    on-error="onError(err)"
                    on-stream="onStream(stream)" style="text-align: center; margin: 1%;"></webcam>
            <button ng-click="makeSnapshot(); $scope.result = 1">take picture</button>
            <canvas .col-md-4 id="snapshot" width="600" height="600"></canvas>
            <h1>{{result}}</h1>
        </div>
             
        
    </div>





    <script type='text/javascript'>
//<![CDATA[

angular.module('myapp', ['webcam'])
.controller('mainController', function($scope) {
    var _video = null,
        patData = null;
    $scope.result = "0";
    $scope.patOpts = {x: 0, y: 0, w: 25, h: 25};
  
    // Setup a channel to receive a video property
    // with a reference to the video element
    // See the HTML binding in main.html
    $scope.channel = {};

    $scope.webcamError = false;
    $scope.onError = function (err) {
        $scope.$apply(
            function() {
                $scope.webcamError = err;
            }
        );
    };

    $scope.onSuccess = function () {
        // The video element contains the captured camera data
        _video = $scope.channel.video;
        $scope.$apply(function() {
            $scope.patOpts.w = _video.width;
            $scope.patOpts.h = _video.height;
            //$scope.showDemos = true;
        });
    };

    $scope.onStream = function (stream) {
        // You could do something manually with the stream.
    };

	$scope.makeSnapshot = function() {
        if (_video) {
            var patCanvas = document.querySelector('#snapshot');
            if (!patCanvas) return;

            patCanvas.width = _video.width;
            patCanvas.height = _video.height;
            var ctxPat = patCanvas.getContext('2d');

            var idata = getVideoData($scope.patOpts.x, $scope.patOpts.y, $scope.patOpts.w, $scope.patOpts.h);
            ctxPat.putImageData(idata, 0, 0);

            sendSnapshotToServer(patCanvas.toDataURL());

            patData = idata;
        }

    };

    /**
     * Redirect the browser to the URL given.
     * Used to download the image by passing a dataURL string
     */
    $scope.downloadSnapshot = function downloadSnapshot(dataURL) {
        window.location.href = dataURL;
    };

    var getVideoData = function getVideoData(x, y, w, h) {
        var hiddenCanvas = document.createElement('canvas');
        hiddenCanvas.width = _video.width;
        hiddenCanvas.height = _video.height;
        var ctx = hiddenCanvas.getContext('2d');
        ctx.drawImage(_video, 0, 0, _video.width, _video.height);
        return ctx.getImageData(x, y, w, h);
    };

    /**
     * This function could be used to send the image data
     * to a backend server that expects base64 encoded images.
     *
     * In this example, we simply store it in the scope for display.
     */
    var sendSnapshotToServer = function sendSnapshotToServer(imgBase64) {
        $scope.imgInput = imgBase64;
            $http({
                url: 'http://incognitive.azurewebsites.net/trump/detect',
                method: "POST",
                data: { 'ur': $scope.imgInput }
            })
            .then(function (response) {
                $http({
                    url: 'http://incognitive.azurewebsites.net/trump/identify',
                    method: "POST",
                    data: { 'bdy': response }
                })
                .then(function (dt) {
                    $scope.result = "1";
                    if (dt.data[0].candidates.length == 0) {
                        $scope.result = "You are not Trump";
                    } else {
                        $scope.result = "You are trump. (" + dt.data[0].candidates[0].confidence * 100 + "%)";
                    }
                },
                function (dt) { // optional
                    $scope.result = "err2";
                });
            },
            function (response) { // optional
                $scope.result = "err";
            })
        };
   
});
//]]>

    </script>


</body>

</html>

