<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- Latest compiled and minified JavaScript -->
    
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>AngularJS Routing example</title>
    <link rel="shortcut icon" href="http://www.iconj.com/ico/h/a/haonzfsc03.ico" type="image/x-icon" />
</head>

<body class="teal lighten-4" ng-app="route"  ng-controller="mainCtrl">
    <nav>
        <div class="nav-wrapper navbar-inverse teal lighten-2" >
            <a href="#" class="brand-logo" style="margin-left: 2%; font-size: 3.1rem;">Incognitive</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/trump" style="font-size: large;">trump</a></li>
                <li><a href="/err" style="font-size: large;">err</a></li>
                <li><a href="/process" style="font-size: large;">process</a></li>

            </ul>
        </div>
      
    </nav>
    <div style="width: 40%; height: 40%; text-align: center;"></div>
    <div style="text-align: center;">
       שלום,
        אנא לחץ על כפתור הלכידה על מנת להתחיל בתהליך הזיהוי
    </div>
    <a class="btn-floating btn-large waves-effect waves-light grey darken-4" style="align-self: center;"><i class="fa fa-camera"></i></a>

    <div ng-view></div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.js"></script>
    <script src="/Controllers/errCtrl.js"></script>
    <script src="/Controllers/processCtrl.js"></script>

</body>
</html>