<!DOCTYPE html>
<html lang="en">
<head>
    <title>AngularJS Routing example</title>
    <link rel="icon" type="image/x-icon" href="/res/intruder.ico" />
</head>

<body ng-app="route" ng-controller="mainCtrl">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/trump">trump</a></li>
                <li><a href="/err">err</a></li>
                <li><a href="/process">process</a></li>
            </ul>
        </div>
    </nav>
                <ng-view></ng-view>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>

</body>
</html>