<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
        <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/javascripts/test.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/jonashartmann/webcam-directive/master/dist/webcam.min.js"></script>
    </head>
    <body>
        <div ng-app="Incognitive">
            <div ng-controller="ctr">
                 <h3>Are You Trump?</h3>
                 <br>
                 <div class= "row" >
                    <div class="col-md-3">
                        <input type="text" id="inp" class="form-control" ng-model="imgInput">
                    </div>
                 </div>
                 <br>
                 <div class="row">
                    <button type="button" class="btn btn-primary" ng-click="doMagic()">CHECK!!!</button>
                 </div>
                 <br>
                 <br>
                 <div class ="row">
                     {{result}}
                 </div>



            </div>
        </div>

        <div ng-app="myapp" ng-controller="mainController">

            <div class="alert alert-error ng-scope" ng-show="webcamError" style="">
                <span>Webcam could not be started. Did you give access to it?  </span>
            </div>
            <webcam channel="channel"
                    on-streaming="onSuccess()"
                    on-error="onError(err)"
                    on-stream="onStream(stream)"></webcam>
            <button ng-click="makeSnapshot()">take picture</button>
            <canvas id="snapshot" width="300" height="300"></canvas>
        </div>










    </body>
</html>